# player config
player.txt
botflix

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.scrapy
.python-version

# Environments
.env*/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile
Pipfile.lock
config/
data/

# node
node_modules/
*.json

# Pycharm
.idea/
